@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
      .no-scrollbar {
          -ms-overflow-style: none;
          scrollbar-width: none;
    }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*color-scheme: light dark;*/
  /*color: rgba(255, 255, 255, 0.87);
  background-color: #242424;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tabler{
  width: 100%;
  height: 100%;
}

.example-view{
  height: calc(100vh - 3.15rem);
}

#modals .modal-container{
  height: 100vh;
  position: absolute;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, .2);
  display: grid;
  align-content: center;
}

.copy-btn-animation{
  animation: copy-animation 1s;
}

@keyframes copy-animation {

  0%{
    transform: rotateY(0deg);
  }

  25%{
    transform: rotateY(90deg);
  }

  50%{
    transform: rotateY(0deg);
  }

  75%{
    transform: rotateY(90deg);
  }

  100%{
    transform: rotateY(0deg);
  }
}

::-webkit-scrollbar {
  width: .75rem;
}

::-webkit-scrollbar-track {
  background: rgb(217, 223, 231);
}

::-webkit-scrollbar-thumb {
  background: rgb(186, 199, 217);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(180, 209, 244);
}

.dark ::-webkit-scrollbar {
  width: .75rem;
}

.dark ::-webkit-scrollbar-track {
  background: rgb(39, 39, 39);
}

.dark ::-webkit-scrollbar-thumb {
  background: rgb(55, 55, 55);
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: rgb(71, 71, 71);
}


/*

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/